.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-cart {
	font-size:(6.399/10)*1rem;
	width:(6.399/6.399)*1em;
}
.icon-check {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-clock {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-compare {
	font-size:(6.399/10)*1rem;
	width:(7.053/6.399)*1em;
}
.icon-dev-hleb-kroshki {
	font-size:(10/10)*1rem;
	width:(7/10)*1em;
}
.icon-home {
	width:(512/512)*1em;
}
.icon-like {
	width:(6.08/5.6)*1em;
}
.icon-like2 {
	font-size:(5.6/10)*1rem;
	width:(6.08/5.6)*1em;
}
.icon-mail {
	font-size:(10.239/10)*1rem;
	width:(12.8/10.239)*1em;
}
.icon-mail-white {
	font-size:(10.239/10)*1rem;
	width:(12.8/10.239)*1em;
}
.icon-menu {
	font-size:(3.839/10)*1rem;
	width:(5.12/3.839)*1em;
}
.icon-minus {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-next {
	font-size:(40/10)*1rem;
	width:(40/40)*1em;
}
.icon-order-cian {
	font-size:(15.999/10)*1rem;
	width:(15.039/15.999)*1em;
}
.icon-phone {
	font-size:(12.8/10)*1rem;
	width:(12.8/12.8)*1em;
}
.icon-phone-white {
	font-size:(12.8/10)*1rem;
	width:(12.8/12.8)*1em;
}
.icon-plus {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-search {
	font-size:(5.12/10)*1rem;
	width:(5.12/5.12)*1em;
}
.icon-star-grey {
	font-size:(5.504/10)*1rem;
	width:(5.759/5.504)*1em;
}
.icon-star-red {
	font-size:(5.504/10)*1rem;
	width:(5.759/5.504)*1em;
}
.icon-x-button {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-zayavka {
	font-size:(15.999/10)*1rem;
	width:(15.039/15.999)*1em;
}
