$font-name1: 'Oswald-Light';
$font-name2: 'Oswald-Regular';
$font-name3: 'Oswald-Medium';
$font-name4: 'Oswald_Bold';
$font-name5: 'Oswald_DemiBold';
$color-cian: #05283d;
$color-text: #000;
$color-blue: #2075a1;